@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Londrina+Shadow&family=Londrina+Solid:wght@900&family=Ubuntu:wght@500&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem 0rem;
}

h1 {
  font-size: 45px;
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.1em;
  color: #6667ab;
  margin: 0;
}
h1 a {
  text-decoration: none;
  color: #6667ab;
}
h3 {
  font-size: 25px;
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.1em;
  margin: 0;
}
h4 {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: transparent;
  padding: 0.8em 0;
  box-shadow: 2px 2px 10px #f1f6f9;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

nav {
  font-size: 1.3em;
}

nav a {
  text-decoration: none;
  color: #6667ab;
}

nav a:hover,
nav a:focus {
  color: #f8bbcd;
}

@media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .container-nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.8em 0;
  }
}
h2 {
  font-family: "Fredoka One", cursive;
  letter-spacing: 0.1em;
  font-size: 30px;
}
ul:last-child {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  color: #6667ab;
}

figure {
  height: 50px;
  width: 50px;
}

ul > li {
  padding: 15px;
}

ul > li:hover {
  color: #f8bbcd;
}

.grid {
  display: flex;
  flex-direction: row;
  grid-gap: 5vw;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 1.5vw;
  align-items: center;
}

.grid .banner ul > li {
  font-family: "Ubuntu", sans-serif;
  line-height: 25px;
}

h2 {
  line-height: 1.5em;
}

@media (max-width: 600px) {
  .grid {
    display: grid;
    flex: 100%;
  }
  .pic {
    width: 240px;
    height: 250px;
    flex: center;
  }
  .container {
    text-align: center;
  }
  .container-nav {
    flex-direction: column;
  }
  nav ul {
    flex-direction: column;
  }
  nav li {
    margin: 0.8em 0;
  }
}

.button {
  margin: 0 auto;
}

.banner {
  max-width: 600px;
  height: 300px;
  top: 150px;
  left: 150px;
  overflow-x: hidden;
  line-height: 20px;
  flex: 50%;
}


ol {
  list-style: none;
  counter-reset: steps;
}

ol > li {
  line-height: 25px;
  font-family: "Ubuntu", sans-serif;
  counter-increment: steps;
}

ol li:before {
  content: counter(steps);
  font-weight: bolder;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 50%;
  color: #6667ab;
  background-image: linear-gradient(
      135deg,
      rgb(254, 217, 205),
      rgb(206, 206, 253)
    );
  left: calc(-1rem - 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.btn {
  background: #f8bbcd;
  color: #6667ab;
  padding: 1.2rem 2.8rem;
  letter-spacing: 2px;
  display: inline-block;
  font-size: 1.25rem;
  border: none;
  border-radius: 3em;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Fredoka One", cursive;
}
.btn:hover {
    border: 3px solid transparent;
    background-image: linear-gradient(
      135deg,
      rgb(254, 217, 205),
      rgb(206, 206, 253)
    );
}

button a {
  color: #6667ab;
  text-decoration: none;
}

button a :hover {
  color: #f8bbcd
}

